################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DLL
/packages
/.vs
/Webs.API
/Frame/Frame.Core/bin
/Frame/Frame.Core/obj
/Frame/Frame.Utils/bin
/Webs.FourS/bin
/Webs.FourS/DLL
/Webs.FourS/logs
/Webs.FourS/obj
