.z-toolbar {  padding:3px; border:1px solid #ccc;margin-bottom:2px; background-color:#F4F4F4;}
.head-south{ background-color: #f3f3f3 !important}
.accordion-header-selected{ background-color:#f3f3f3 !important;}
.accordion .accordion-header-selected .panel-title {color: #15428b !important;}
#w_audit_div_button {text-align:center;background-color:#F4F4F4}