@{
    ViewBag.Title = "预约管理";
    Layout = "~/Content/Layout/_Layout.cshtml";
}

@section scripts{
    @*<script src="~/Scripts/core/xlsx.full.min.js"></script>*@
    <script src="~/Areas/Biz4S/JS/Make/MakeSaleList.js"></script>
    <script type="text/javascript">
        using(['calendar']);
        var vdata = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var ViewModel = function() {
            this.selfGrid = {
                //singleSelect:false,
                pageSize: 100,
                selectOnCheck:false,
                checkOnSelect:false
            };
            vms.search.apply(this, arguments);
        }
        var vm = new ViewModel(vdata);
        ko.bindingViewModel(vm);
    </script>
}

<div id="condition" class="container_12" style="position:relative;">
    <div class="grid_1 lbl">
        预定时间：
    </div>
    <div class="grid_2 val">
        <input type="text" data-bind="value:form.BookingInTime" class="z-txt easyui-daterange" />
    </div>
    <div class="grid_1 lbl">
        优先等级：
    </div>
    <div class="grid_2 val">
        <input type="text" data-bind="datasource:com.bindCombobox('PRI'),comboboxValue:form.PRI" class="z-txt easyui-combobox"/>
    </div>
    <div class="grid_3 val" style="text-align:right">
        <a id="a_search" href="#" class="easyui-linkbutton" data-bind="click:searchClick" icon="icon-search" style="margin:0 15px;">查询</a>
        <a id="a_reset" href="#" class="easyui-linkbutton" data-bind="click:clearClick" icon="icon-clear">清空</a>
    </div>
    <div class="clear"></div>
    <div class="grid_1 lbl">
        预约人：
    </div>
    <div class="grid_2 val">
        <input class="z-txt easyui-validatebox" data-bind="value:form.BookingName" />
    </div>
    <div class="grid_1 lbl">
        预约类型：
    </div>
    <div class="grid_2 val">
        <input type="text" data-bind="datasource:com.bindCombobox('BillTypeID'),comboboxValue:form.BillTypeID" class="z-txt easyui-combobox" />
    </div>
    <div class="grid_1 lbl">
        车牌号：
    </div>
    <div class="grid_2 val">
        <input class="easyui-validatebox" data-bind="value:form.SignCode" style="width:100%" />
    </div>
    <div class="clear"></div>
</div>

<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-linkbutton" data-options="iconCls:'icon-page_excel'" data-bind="click:downloadClick">导出</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-add1" title="新增" data-bind="click:addClick">新增</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-page_edit" title="浏览" data-bind="click:editClick">浏览</a>
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-delete" title="删除" data-bind="click:deleteClick">删除</a>

</div>

<table id="gridlist" data-bind="datagrid:grid">
    <thead>
        <tr>
            <th data-options="field:'BillState',align:'center',sortable:false, width:80">状态</th>
            <th data-options="field:'BookingInTime',align:'center',sortable:true, width:100" formatter="com.formatDate">预定时间</th>
            <th data-options="field:'ArriveTime',align:'center',sortable:true, width:100" formatter="com.formatDate">到站时间</th>
            <th data-options="field:'SignCode',align:'center',sortable:true, width:150">车牌号</th>
            <th data-options="field:'BookingCode',align:'center',sortable:true, width:150">预约单号</th>
            <th data-options="field:'BillTypeName',align:'center',sortable:true, width:100">预约类型</th>
            <th data-options="field:'PRI',align:'center',sortable:true, width:90">优先等级</th>
            <th data-options="field:'CustomerName',sortable:true,align:'right',width:70">客户名称</th>
            <th data-options="field:'MobileTel',sortable:true,align:'center',width:70" >移动电话</th>
            <th data-options="field:'RepairName',sortable:true,align:'center',width:70">报修人</th>
            <th data-options="field:'RepairTel',align:'center',sortable:true, width:80">报修人电话</th>
            <th data-options="field:'BookingName',align:'center',sortable:true, width:130">预约人</th>
            <th data-options="field:'Address',align:'center',sortable:true, width:80">报修人描述</th>
            <th data-options="field:'BookingID'" hidden></th>
        </tr>
    </thead>
</table>
